.d-xl-flex.align-items-xl-center.language-html {
  border-radius: 8px;
}

/* + additional style */
.first {
  width: 100%;
  background-color: #343647;
  color: #212529;
  background-image: url("assets/img/mountain_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;  
}
#brand {
  color: rgb(245,245,245);
  font-family: Allerta, sans-serif;
  padding: 30px; 
}
code {
  color: rgb(248,247,247);
  font-size: 15px;
  padding: 30px;
  background-color: #3a3a3a;
  text-align: center;
}
.second {
  width: 100%;
  height: 100%;
  padding: 7em; 
}
@media screen and (max-width: 640px){
  code {
    width: 80%;
  }
}
